.button {
  padding: 10px 32px;
  border-radius: 4px;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 500;
}

.white-button {
  @include text(1.6rem, 1.2, $text-red);  
  background-color: transparent;
}

.log-in-button {
  @include text(1.6rem, 1.2, $text-light);
  background-color: $bg-button-normal;

  &:hover {
    background-color: $bg-button-hover;
  }
}

.log-out-button {
  padding-left: 16px;
}

.pop-up-button {
  position: absolute;
  width: 110px;
  bottom: 36px;
  left: calc(50% - 55px);
}