input {
  @include text(1.6rem, 1.2, $text-dark);  
  border: none;
  border-bottom: 1px solid $input-border-dark;
  font-weight: 500;
  padding: 6px 0;
  
  &::placeholder {
    color: $text-placeholder;
    font-weight: 400;
  }

  &:focus {
    outline: none;
  }
}

.search__area {
  width: 320px;  
}

.pop-up input:not([type="checkbox"]) {
  width: 100%;
  margin-top: 24px;
}

#remember {  
  display: none;

  &+label::after {
    content: none;
  }

  &:checked+ label::after {
    content: "";
  }
}

label {
  @include text(1.6rem, 1.2, $text-dark);
  position: relative;
  display: inline-block;
  padding-left: 27px;
  margin-top: 24px;
  
  &::before {
    position: absolute;
    content: '';
    left: 0;
    display: inline-block;
    width: 1em;
    height: 1em;
    border: 1px solid $input-border-dark;
    border-radius: 4px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 4px;
    top: 5px;
    display: inline-block;
    height: 5px;
    width: 9px;
    border-left: 2px solid $input-checkbox;
    border-bottom: 2px solid $input-checkbox;    
    transform: rotate(-45deg);
  }
}