::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: $bg-scroll-track;
  border-radius: 2px;
}

::-webkit-scrollbar-thumb {
  background: $bg-scroll-thumb;
  border-radius: 4px;
  border: 2px solid $bg-scroll-track;
}