.header {
  padding-top: 33px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header-logo {
  display: flex;
  align-items: center;
}

.header-logo__image {
  background: url(./img/logos/header-logo.svg);
  width: 36px;
  height: 36px;
  margin-right: 10px;
}

.header-logo__title {
  @include text(2rem, 1.2, $text-dark);
  font-weight: 500;
}

.header-search {
  display: flex;
}

.header-user {
  display: flex;
  align-items: center;
}

.header-user__name {
  @include text(1.6rem, 1.2, $text-dark);
  font-weight: 500;
  cursor: pointer;
}