.movies {
  padding-bottom: 70px;
}

.movies__title {
  @include text(2.4rem, 1.2, $text-dark);
  margin-top: 30px;
  font-weight: 500;
}

.movies-list {
  display: flex;
  height: 440px;
  justify-content: space-between;
  margin-top: 16px;
}

.movie__item {
  width: 23%;
}

.movie-poster {
  @extend %item-shadow-border;
  border-radius: 8px;
  height: 370px;
  overflow: hidden;
}

.poster-1 {
  background: url(./img/posters/poster-1.jpg) center center no-repeat;
}

.poster-2 {
  background: url(./img/posters/poster-2.jpg) center center no-repeat;
}

.poster-3 {
  background: url(./img/posters/poster-3.jpg) center center no-repeat;
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $bg-poster-fade;
  }

  &::after {
    content: 'Фильм повествует о череде событий, произошедших в Голливуде в 1969 году, на закате его «золотого века». Известный актер Рик Далтон и его дублер Клифф Бут пытаются найти свое место в стремительно меняющемся мире киноиндустрии.';
    @include text(1.6rem, 1.4, $text-poster);
    position: absolute;
    padding: 16px;
    overflow: hidden;
  }
}

.poster-4 {
  background: url(./img/posters/poster-4.jpg) center center no-repeat;
}

.movie-title {
  @include text(2rem, 1.2, $text-dark);
  margin-top: 15px;
  overflow: hidden;
}

.genres-list {
  display: flex;  
  justify-content: space-between;
  margin-top: 16px;
}

.genre__item {
  @extend %item-shadow-border;
  height: 210px;
  width: 23%;
  position: relative;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  
  &:nth-child(4n+1) {
    background:$bg-genre-1-normal;
  }

  &:nth-child(4n+2) {
    background:$bg-genre-2-normal;
  }

  &:nth-child(4n+3) {
    background:$bg-genre-3-normal;
  }

  &:nth-child(4n+4) {
    background:$bg-genre-4-normal;
  }

  &:hover {
    opacity: 1;
  }
}

.genre__smile {
  @include text(4.8rem, 1, $text-dark);
  width: 48px;
  height: 48px;
}

.genre-title {
  position: absolute;
  @include text(2rem, 1.2, $text-light);
  width: 100%;
  text-align: center;
  bottom: 25px;
}