.tv-channels {
  margin-top: 10px;
  margin-bottom: 70px;
  height: 600px;
  overflow-y: scroll;
}

.tv-channel {
  @extend %item-shadow-border;
  background-color: $bg-tv-channel;
  display: flex;
  margin-top: 16px;
  border-radius: 8px;
  padding: 20px 0;
}

.tv-channel__logo {
  cursor: pointer;
  width: 30%;
}

.logo-channel-1 {
  background: url(./img/channels/channel-1.svg) center center no-repeat;
}

.logo-channel-2 {
  background: url(./img/channels/channel-2x2.svg) center center no-repeat;
}

.logo-channel-3 {
  background: url(./img/channels/channel-rbk.svg) center center no-repeat;
}

.logo-channel-4 {
  background: url(./img/channels/channel-amedia.svg) center center no-repeat;
}

.logo-channel-5 {
  background: url(./img/channels/channel-1.svg) center center no-repeat;
}

.tv-channel__schedule {
  width: 70%;
}

.channel-name {
  @include text(2rem, 1.2, $text-dark);
  font-weight: 500;
}

.channel-schedule {
  @include text(1.6rem, 1.2, $text-dark);  
}

.channel-schedule li {
  display: flex;
  margin-top: 10px;

  &:first-child {
    margin-top: 15px;
  }
}

.channel-schedule__time {
  margin-right: 15px;
}