html {
  font-size: 10px;
  font-family: 'Rubik', sans-serif;  
}

* {
  margin: 0;
  padding: 0;
  font-weight: 400;
  font-size: 1em;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 50px;

  @media screen and(max-width: 550px) {
    padding: 0 20px;
  }
}

ul {
  list-style: none;
}

.hide {
  display: none !important;
}