$bg-button-normal: #E5261E;
$bg-button-hover: #CC221B;

$bg-genre-1-normal: linear-gradient(136.27deg, #F2C94C 8.44%, #F29A4A 91.36%);
$bg-genre-2-normal: linear-gradient(136.27deg, #F2994A 8.44%, #EB5757 91.36%);
$bg-genre-3-normal: linear-gradient(136.27deg, #56CCF2 8.44%, #2F80ED 91.36%);
$bg-genre-4-normal: linear-gradient(136.27deg, #828282 8.44%, #333333 91.36%);

$text-light: #fff;
$text-dark: #333;
$text-red: #E5261E;
$text-placeholder: #828282;
$text-link: #1F4766;

$input-border-dark: #333;
$input-border-red: #E5261E;
$input-checkbox: #E5261E;