@import './scss/base/base';
@import './scss/base/fonts';

@import './scss/abstracts/variables';
@import './scss/abstracts/mixins';
@import './scss/abstracts/placeholders';

@import './scss/layouts/header';
@import './scss/layouts/nav';
@import './scss/layouts/movies';
@import './scss/layouts/tv-channels';
@import './scss/layouts/footer';
@import './scss/layouts/pop-up';

@import './scss/components/buttons';
@import './scss/components/scrollbar';
@import './scss/components/inputs';